{% extends 'base.html.twig' %}

{% block title %}New Lokaal{% endblock %}

{% block body %}
    <h1>Create new Lokaal</h1>

    {{ include('lokaal/_form.html.twig') }}

    <a href="{{ path('lokaal_index') }}">back to list</a>
{% endblock %}
